<div class="col-sm mt-3">
  <div class="card hovereffect border-0" style="width: 18rem;">
    <img class="card-img" src={{image}} alt="Card image cap">
    <div class="card-body overlay">
      <h5>
       <a class="card-title" href={{website}}>{{brand}}</a>
      </h5>
      <p class="card-text">
        {{name}} {{productType}}
      </p>
      <a href="/{{this._id}}">more details</a>
      <button type="button" class="btn likebutton btn-sm" id={{ _id }} onclick="addToMyCollection(this)">
        Add this to my makeup bag!
      </button>
    </div>
  </div>
</div>
