<div class="col-sm mt-3">
  <div class="card hovereffect border-0" style="width: 15rem; min-height: 15rem;">
    <img class="card-img" src={{image}} alt="Card image cap">
    <div class="card-body overlay">
      <h5 class="card-title">

        <a class="card-profile" href={{website}}>{{brand}}</a>
      </h5>

      <p class="card-text productCardTitle">
        {{name}} {{productType}} <br>
        <a href="/product/{{this._id}}">more details</a>
      </p>

      <button type="button" class="btn likebutton btn-sm" id={{ _id }} onclick="addToMyCollection(this)">
        Add to my bag!
      </button>
    </div>
  </div>
</div>