<div class="justify-content-around col-sm mt-3">
  <div class="card hovereffect border-0" style="width: 20rem; min-height: 20rem; border: 10px solid black;">
    <img class="card-img" src={{image}} alt="Card image cap">
    <div class="card-body overlay">
      <h5 class="card-title">
        {{!-- <a href="{{this.user._id}}"></a> --}}
          {{title}}
      </h5>
      <p class="card-text">{{comment}}</p>
      {{#if isOwner}}
      <button type="button" class="btn deletebutton btn-sm" id={{ _id }} onclick="deleteThis(this)">
        Delete
      </button>
      {{else}}
      <button type="button" class="btn likebutton btn-sm" id={{ _id }} onclick="likeThis(this)">
        Like
      </button>
      {{/if}}
    </div>
  </div>
</div>