<div class="col-sm mt-3">
  <div class="card hovereffect border-0" style="width: 18rem;">
    <img class="card-img " src={{image}} alt="Card image cap">
    <div class="card-body overlay">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{comment}}</p>
      <button type="button" class="btn likebutton btn-sm" id={{ _id }} onclick="likeThis(this)">
        Like
      </button>
       <button type="button" class="btn likebutton btn-sm" id={{ _id }} onclick="deleteThis(this)">
        Delete
      </button>
      <button type="button" class="btn likebutton btn-sm" id={{ _id }} onclick="editThis(this)">
        Edit
      </button>
      {{!--
      <ul class="list-group list-group-flush">
        {{#each _products}}
        <li class="list-group-item">{{this}} {{/each}}
      </ul> --}}
    </div>
  </div>
</div>