<h2>This is your feed</h2>
<<<<<<< HEAD
<ul>
  {{#each selfieFromDb}}
  <li>
    {{this._user.username}}--
    <img src="{{this.image}}" alt="img" height="60"> 
    {{this.title}}--
    {{this.products}}--
    {{this.comment}}--
  </li>
  {{/each}}
</ul>
=======


<div class="container">

  <div class="row">
    {{#each selfieFromDb}} {{>selfieCard this}} {{/each}}
  </div>
</div>
>>>>>>> c07aaa6800c9fa56c3c6bb3076a6f8a39265fae8
