
<div class="detail">
<h4>More Details</h4>
<h5>Brand : {{brand}}</h5>
<h5>Name: {{name}}</h5>
<h5>ProductType: {{productType}}</h5>
<h5>Image: <img src={{image}}></h5>
<h5>Website: <a href={{website}} target="_blank">{{brand}}</h5>
</div>

