
<div class="detail text-center">
<h4>Product Detail</h4>
<h5> {{brand}}</h5>
<h5>{{name}}</h5>
<h5>{{productType}}</h5>
<h5><img src={{image}}></h5>
<h5><a href={{website}} target="_blank">{{brand}}</h5>
</div>

