
{{!-- <div>
<h5>More Details</h5>
<h4>Brand : {{brand}}</h4>
<h4>name: {{name}}</h4>
<h4>ProductType: {{productType}}</h4>
<h4>Image: <img src={{image}}></h4>
<h4>website: <a href={{website}}>{{brand}}</h4>
<a href="/feed" class="button">Back</a>
</div> --}}
